body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #121433;
  color: white;
}

.container {
  max-width: 375px;
  margin: auto;
  padding: 15px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin-bottom: 15px;
}

.biller-icons {
  background-color: #23265A;
  border-radius: 20px;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.biller-item {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.biller-item img {
  padding: 10px;
  border-radius: 12px;
  width: 36px;
  height: 36px;
  margin-bottom: 5px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(1217%) hue-rotate(182deg) brightness(112%) contrast(97%);
}

.biller-item img:hover {
  filter: brightness(0) saturate(100%) invert(78%) sepia(98%) saturate(373%) hue-rotate(8deg) brightness(106%) contrast(102%);
}

.biller-item p {
  font-size: 12px;
  margin: 0;
}

.add-biller {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.add-biller:hover {
  cursor: pointer;
  color: #FFE867;
}

.plus-icon {
  background-color: #1c1f4a;
  padding: 8px;
  border-radius: 8px;
  font-size: 20px;
}

/* Form Menu */

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0.8;
}

input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.pay-button {
  background-color: #43E97B;
  color: #FFFFFF;
  padding: 30px 15px; 
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  height: 100%;
}

.pay-button:hover {
  background-color: #FFE867;
  cursor: pointer;
}

.bills {
  margin-bottom: 25px;
}

.bill-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.bill-item:nth-child(2) {
    margin-bottom: 20px;
}

.bill-item .image-wrapper {
    background-color: #23265A;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.bill-item img {
  padding: 10px;
}

.bill-details {
  flex-grow: 1;
  margin-left: 10px;
}

.bill-details .category {
  margin: 0;
  font-size: 20px;
}

.bill-details .desc {
  margin: 0;
  font-size: 16px;
}

.bill-details .date {
    margin: 0;
  font-size: 8px;
}

.amount {
  font-size: 14px;
}

/* Footer Menu */
.bottom-nav {
  bottom: 0;
  width: 100%;
  max-width: 375px;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.bottom-nav .nav-item {
  background-color: #23265A;
  border-radius: 20px;
  padding: 10px;
  width: 77px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F2F7FF;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  transition: background-color 0.3s;
}

.bottom-nav .nav-item:hover {
  background-color: #FFE867;
  color: #121433;
  cursor: pointer;
}

.bottom-nav .nav-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 6px;/* beyaz kalmasını sağlar */
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(1217%) hue-rotate(182deg) brightness(112%) contrast(97%);
}
